.vscode
1/dokumentacia.aux
1/dokumentacia.dvi
1/dokumentacia.log
1/dokumentacia.out
1/dokumentacia.synctex.gz
.gitignore
.gitignore
1/dokumentacia.pdf
.gitignore
2/tutorialň
2/tutorial.c
2/tutorial
2/test.c
2/test
2/ipk-scan
1/xsasak01.zip
1/proj1.py
1/dokumentacia.tex
.gitignore
